
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}/*
#china{
  height:25%;
  wdth:20%;
  float: left;
}
*/
#soso{
  height:25%;
  width:20%;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media (min-width: 500px) {


 table, th, td {
  text-align: center;
  border-color: black;
}

.china img {
  margin: 1em;
  float: left;
}

.china p{
  padding-top: 1em;
}

.china:after {
  content: "";
  display: table;
  clear: both;
}


 .hallone{
   margin: 1em;
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.hallone img{
  position: relative;
}
 p{
  text-align: left;
}
.header{
padding: 3em;
display: flex;
width:100%;

}
.header img{
  margin-left: 100px;

}
}
